@import 'nib'
@import 'config'

.activity-chart-content
  position: relative
  margin-top: 3px
  padding-left: 16px

.activity-chart-weekdays
  position: absolute
  left: 0
  top: 0

.activity-chart-weekdays,
.activity-chart-months
  font-size: 0.7em
  color: base-color-1

.activity-chart-weekday
  position: absolute
  text-align: center
  width: 100%

.activity-chart-months
  width: 100%
  display: flex

.activity-chart-month-hidden
  visibility: hidden
