@import 'config'
@import 'nib'

.active-track
  position: absolute
  left: 0
  top: 0
  width: 100%
  background-color: rgba(255, 255, 255, 0.95)

.player-body
  position: relative
  display: flex
  align-items: center

  padding: 0 10px
  height: 90px

  font-size: 12px
  font-family: 'Roboto', sans-serif
  font-weight: 300

.active-track-artist
  font-weight: 500

.active-track-time
  margin: 0 15px 10px 15px
  min-width: 65px
  text-align: right

.active-track-separator
  margin: 0 3px

.active-track-desc
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  margin-bottom: 10px;
  width: 79%

.active-track-progress
  position: absolute
  left: 84px
  right: 25px
  top: 51px

.player-playlist-tabs
  position: relative
  width: 100%
  height: 0
  margin-top: -15px
  line-height: 25px
  transition: height 0.2s ease-in-out
  overflow: hidden

.player-playlist-tabs-active
  height: 25px