@import 'config'
@import 'nib'

.active-track
  position: absolute
  left: 0
  top: 0
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  height: 90px
  color: #616161
  font-family: 'Roboto', sans-serif
  font-weight: 300
  background-color: rgba(255, 255, 255, 0.95)
  font-size: 12px
  padding: 0 10px

.active-track-artist
  font-weight: 500

.active-track-duration
  margin: 0 15px
  min-width: 50px
  text-align: right

.active-track-separator
  margin: 0 3px

.active-track-desc
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
