* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon {
  display: inline-block
}

.scroll-wrapper {
  height: 100%;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.main-layout__play-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
}

.main-layout__profile {
  padding: 20px 30px;
  display: flex;
  justify-content: flex-end;
}

.app-cmd {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 70px;
}

.section {
  width: 100%;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.group-page {
  width: 100%;
}

.group-page__content {
  padding-top: 50px;
  padding-bottom: 100px;
}

.scroll-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0 15px;
  }

  .group-page__content {
    padding-top: 15px;
  }

  .header {
    font-size: 1.5rem;
  }
}
