* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#app,
.app-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.icon {
  display: inline-block
}

.scroll-wrapper {
  height: 100%;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-layout__play-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
}