.command-palette {
  font-size: 2rem;
  width: 100%;
  font-size: 1.5em;
  padding-left: 4rem;
  height: 80px;
  line-height: 80px;
  width: 800px;
}

.command-palette__input {
  border: none;
  outline: none;
  font-weight: 100;
  font-family: 'Roboto';
  width: 100%;
  font-size: inherit;
}
