@import 'nib'
@import 'config'

.group-profile
  display: flex
  flex-direction: column
  justify-content: space-around
  height: 100%

.group-profile-info
  font-family: 'Roboto'
  font-weight: 300
  text-align: center
  margin-top: 70px

.group-profile-avatar
  width: 150px
  height: @width
  border-radius: 50%
  overflow: hidden
  margin: 20px auto

.group-profile .activity
  margin-top: 100px
