.group-profile
  background-color: #3F51B5

.group-profile-info
  font-family: 'Roboto'
  font-weight: 300
  color: #E8EAF6
  text-align: center
  margin-top: 70px

.group-profile-avatar
  width: 150px
  height: @width
  border-radius: 50%
  overflow: hidden
  border: 2px solid white
  margin: 20px auto

.group-profile .activity
  position: absolute
  width: 600px
  bottom: 50px;
  left: 50%;
  margin-left: - (@width / 2)