.layer
  position: absolute
  left: 0
  top: 0
  width: 100%

.pane-body
  width: 100%

@media screen and (min-width: 1400px)
  .pane-body
    width: 640px
    left: 50%
    margin-left: - (@width / 2)
