accent-color = accent-violet

.main-layout .ra-bounding-box,
.group-layout .ra-bounding-box
  background-color: base-color-3

.main-layout .rb-bounding-box,
.main-layout .rc-bounding-box,
.group-layout .rb-bounding-box,
.group-layout .rc-bounding-box
  background-color: base-color-02

.artist-layout .ra-bounding-box
  background-color: accent-color

.artist-layout .artist-profile .track-artist,
.artist-layout .artist-profile .track-title,
.artist-layout .artist-profile .track-duration
  color: white

.artist-layout .artist-profile .play-btn,
.artist-layout .artist-profile .play-btn:hover
  border-color: white

.artist-layout .artist-profile .play-btn:hover .icon
  fill: white

.activity-item-0
  fill: base-color-2

.activity-item-1
  fill: #B7B8C3

.activity-item-2
  fill: #9C9DAD

.activity-item-3
  fill: #85879E

.activity-item-4
  fill: #6F728E

.main-section-title,
.group-profile-info,
.element-link
  color: base-color-00

.element-link:hover
  color: accent-color

.play-btn
  background-color: accent-cyan

.play-btn .icon
  fill: white

.play-btn-cell .icon
  fill: base-color-01

.play-btn-cell--active .icon
  fill: base-color-3

.track
  color: base-color-0

.track:nth-child(odd),
.track-container:nth-child(odd)
  background-color: base-color-03

.track--active,
.track--active:nth-child(odd)
  background-color: accent-cyan
  color: base-color-3

.tracklist
  color: base-color-00

.active-track
  color: base-color-00

.group-profile-avatar
  border: 4px solid white

.apl-bg-line
  background-color: lighten(base-color-02, 5%)

.apl-load-line
  background-color: lighten(base-color-02, 10%)

.apl-fg-line,
.apl-seek
  background-color: accent-cyan

.auth
  background-color: accent-color

.auth-bg-circle .icon
  fill: accent-color

.auth-bg-circle .auth-vk-desc
  color: #555

.auth-bg-circle,
.auth-bg-circle::before
  background-color: white

.tabs-item
  color: accent-color

.tabs-item-active
  border-bottom: 1px solid accent-color

.playlist h3
  color: base-color-00

.active-track
  color: base-color-3

.tracklist-more
  color: base-color-00

.tracklist-more:hover
  color: accent-cyan
