accent-color = accent-violet

.main-layout .ra-bounding-box,
.group-layout .ra-bounding-box
  background-color: base-color-3

.artist-profile
  background-color: white

.activity-item-0
  fill: base-color-2

.activity-item-1
  fill: #B7B8C3

.activity-item-2
  fill: #9C9DAD

.activity-item-3
  fill: #85879E

.activity-item-4
  fill: #6F728E

.main-section-title,
.group-profile-info,
.element-link
  color: base-color-00

.element-link:hover
  color: accent-color

.play-btn:hover
  border-color: accent-color

  .icon
    fill: accent-color

.play-btn.active
  background-color: accent-color
  border-color: accent-color

.tracklist
  color: base-color-00

.active-track
  color: base-color-00

.group-profile-avatar
  border: 4px solid white

.play-btn
  border: 2px solid #EEE

  .icon
    fill: #EEE

.apl-bg-line
  background-color: #EEE

.apl-load-line
  background-color: #DDD

.apl-fg-line,
.apl-seek
  background-color: accent-color

.auth
  background-color: accent-color

.auth-bg-circle .icon
  fill: accent-color

.auth-bg-circle .auth-vk-desc
  color: #555

.auth-bg-circle,
.auth-bg-circle::before
  background-color: white

.tabs-item
  color: accent-color

.tabs-item-active
  border-bottom: 1px solid accent-color
