.tracklist
  width: 100%
  color: #616161
  font-size: 0.8em
  font-family: 'Roboto', sans-serif
  background-color: white
  margin: 10px 0
  padding-bottom: 10px

.tracklist-item
  display: flex
  height: 40px
  margin: 25px 0

.play-btn
  width: 40px
  height: @width
  min-width: @width
  margin: 0 15px
  background-color: #44413E

.tracklist-item-title,
.tracklist-item-artist
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.tracklist-item-desc
  margin-right: 45px
  margin-top: 5px

.tracklist-header
  height: 40px
  background-color: #FAFAFA
  text-align: center
  line-height: 40px
  border-bottom: 1px solid #F3F3F3
