@import 'config'
@import 'nib'

.tracklist
  width: 100%
  font-size: 0.8em
  font-family: 'Roboto', sans-serif

.tracklist-body
  position: relative

.tracklist-header
  height: 70px
  background-color: #FAFAFA
  text-align: center
  border-bottom: 1px solid #F3F3F3

.tracklist-section-name
  text-align: center
  color: base-color-0
  margin-bottom: -10px

.tracklist-more
  text-align: center
  margin: 10px 0
  cursor: pointer
