@import 'nib'

.two-region .ra-bounding-box
  width: calc(100% - 520px)
  transition: background-color 0.2s ease-in-out

.two-region .ra-bounding-box,
.two-region .ra-content-box,
.two-region .rb-bounding-box,
.two-region .rb-content-box
  height: 100%
  overflow: hidden

.two-region .ra-content-box
  width: 600px
  margin: 0 auto

.two-region .rc-bounding-box
  position: absolute
  right: 0
  top: 0

.two-region .rb-bounding-box,
.two-region .rc-bounding-box
  width: 520px

.two-region .rb-bounding-box,
.two-region .rc-bounding-box
  border-left: 1px solid #E2E2E2

.two-region .rc-bounding-box
  background-color: rgba(255, 255, 255, 0.95)
  padding: 0 10px

.two-region .rb-bounding-box
  padding: 0 10px

.two-region .rb-content-box .tracklist-body
  padding: 100px 0 30px 0

@media screen and (min-width: 1400px)
  .two-region .ra-bounding-box,
  .two-region .rb-bounding-box,
  .two-region .rc-bounding-box
    width: 50%

  .two-region .ra-content-box,
  .two-region .rb-content-box,
  .two-region .rc-content-box
    width: 600px
    margin: 0 auto

  .two-region .rc-bounding-box
    padding-top: 40px

  .two-region .rb-content-box .tracklist-body
    padding-top: 140px