.two-region .ra-bounding-box
  width: calc(100% - 520px)

.two-region .ra-bounding-box,
.two-region .ra-content-box,
.two-region .rb-bounding-box,
.two-region .rb-content-box
  height: 100%
  overflow: hidden

.two-region .ra-content-box
  width: 600px
  margin: 0 auto

.two-region .rb-bounding-box,
.two-region .active-track
  width: 520px

.two-region .rb-bounding-box,
.two-region .active-track
  border-left: 1px solid #E2E2E2

.two-region .active-track
  padding: 0 10px

.two-region .active-track
  position: absolute
  right: 0
  top: 0

.two-region .rb-bounding-box
  padding: 90px 10px 0 10px
