.GroupsListPreview__image-block {
  display: inline-block;
  background-color: #E6E6E6;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.GroupsList__image {
  border-radius: 50%;
  margin: 0 10px;
  overflow: hidden;
  width: 4em;
}

.GroupsList__name {
  width: 60%;
}
