.Library {
  width: 100%;
  height: 100%;
}

.Library .TracklistTable {
  width: 800px;
  height: 100%;
}

.Library__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .Library__body {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .Library .TracklistTable {
    width: 100%;
  }
}
