.GroupsListPreview__image-block {
  display: inline-block;
  background-color: #E6E6E6;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.GroupsListPreview__image {
  width: 3rem;
  display: flex;
  justify-content: center;
}

.GroupsListPreview__title {
  width: 60%;
}
