.trackpreview {
  display: flex;
  align-items: center;
  padding: 5px 0;
  height: 40px;
  width: 100%;
}

.trackpreview:nth-child(odd) {
  background-color: #F2F2F2;
}

.trackpreview__order {
  width: 5%;
  justify-content: center;
}

.trackpreview__artist {
  width: 35%;
}

.trackpreview__title {
  width: 50%;
}

.trackpreview__time {
  width: 10%;
  justify-content: center;
}

.trackpreview__order,
.trackpreview__artist,
.trackpreview__title,
.trackpreview__time {
  height: 100%;
  display: flex;
  align-items: center;
}

.trackpreview__block {
  background-color: #E6E6E6;
  height: 8px;
}
