* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon {
  display: inline-block
}

.scroll-wrapper {
  height: 100%;
  overflow: hidden;
}

.app-cmd {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 70px;
}

.page-section {
  margin-top: 50px;
}

.Group {
  width: 100%;
}

.Group__content {
  padding-top: 50px;
  padding-bottom: 100px;
}

.Home {
  height: 100%;
}

.Home .scroll-container {
  padding-bottom: 80px;
}

.scroll-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.toolbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  align-items: flex-end;
}

.toolbar {
  text-align: right;
  width: 800px;
  padding: 20px 0;
}

.action {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 5px 10px;
  font-size: .7rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .Group__content {
    padding-top: 15px;
  }
}
