.track {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .75rem;
  transition: background-color 0.1s ease-in;
}

.track__title,
.track__artist,
.track__duration {
  margin: 0 5px;
}

.track__title,
.track__artist {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.track__index {
  width: 3rem;
  text-align: center;
}

.track__title {
  width: 58%;
}

.track__artist {
  width: 25%;
}

.track__duration {
  width: 3rem;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .track__index,
  .track__duration {
    display: none;
  }

  .track__artist {
    width: 40%;
  }

  .track__title {
    width: 60%;
  }
}
